<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
		<meta http-equiv="pragma" content="no-cache" />
		<link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32" />
		<script src="lib/angular.min.1.3.11.js"></script>
		<link rel="stylesheet" href="style/bootstrap.3.2.0-min.css" />
		<link rel="stylesheet" href="style/home-min.css" />
		<script type="text/javascript"
			src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyD9atwS1bRUIX5NNR6NLuBBzSa4VNoOYNw&signed_in=true">
		</script>
	</head>
	<body ng-app="regata">
		<div id="map-canvas"></div>
		<div ng-controller="homeController">
			<ul id="statistics" class="list-group">
				<li class="list-group-item active">Statistics</li>
				<li class="list-group-item">
					<strong>Perimeter:</strong>
					{{ statistics.perimeterKm }} Km ({{ statistics.perimeterM }} m)
				</li>
				<li class="colored list-group-item" ng-repeat="(key, value) in statistics.distances" ng-model="gpsData[value.start].present" ng-init="gpsData[value.start].present=false;" ng-click="drawPath(gpsData[value.start], value.start, value.end)">
					<strong>
						{{ value.start }} - {{ value.end }}:
					</strong>
					{{ value.lenKm }} Km ({{ value.lenM }} m)
				</li>
			</ul>
		</div>
		<script src="js/maps-min.js"></script>
		<script src="js/math-min.js"></script>
		<script src="js/controllers/controller-min.js"></script>
	</body>
</html>
