html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map-canvas {
	height: 60%;
	margin: 0;
	padding: 0;
}

#statistics {
	height: auto;
	width: 80%;
	margin-left:auto;
	margin-right:auto;
}

.bottom-row {
	height: auto;
	width: 100%;
	margin: 0;
	padding: 0;
}

.left, .right {
	width: 50%;
	float: left;
	padding-top: 6px;
}

.banner {
	width: 70%;
	margin-left:auto;
	margin-right:auto;
}

.colored:hover {
	background-color: #99CCFF;
}

.interval-arrow {
	font-size: 2.5em;
	float: left;
}

.interval-arrow-right {
	font-size: 2.5em;
	float: right;
}

.interval-bar {
	float: left;
	width: 65%;
	padding-left: 3%;
	/*padding-right: 3%;*/
	margin-left:auto;
	margin-right:auto;
	vertical-align: middle;
}

.interval-control {
	width: 70%;
	margin-left:auto;
	margin-right:auto;
}

div.alert:hover {
	-webkit-filter: invert(100%);
}
