html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map-canvas {
	height: 61%;
	margin: 0;
	padding: 0;
}

#statistics {
	height: 20%;
	width: 30%;
	padding-top: 1%;
	margin-left:auto;
	margin-right:auto;
}

